/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
  
button:not([disabled]) {
  cursor: pointer;
  }
  
img {
  max-width: 100%;
}



/*********/
/* FONTS */
/*********/
@font-face {
  font-family: 'neue';
  src: url('../fonts/neue.woff2') format('woff2'),
        url('../fonts/neue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --main: #e5e5e5;
  --accent: #283ba8; 

  --title-font: 'neue', sans-serif; /*font stacks niet vergeten!!!*/
  --text-font: 'arial';
}



/***********/
/* GENERAL */
/***********/
/*Noise filter*/
/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://grainy-gradients.vercel.app/noise.svg'); 
  pointer-events: none; 
  z-index: 99; 
  opacity: 0.4;
  filter: contrast(-170%) brightness(-200%);  
} */

body {
  background-color: var(--main);
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent);
  font-family: var(--text-font);
  position: relative;
}

h1 {
  position: relative;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-align: center;
  font-size: 6.5vw;
  margin: 0 0.25em
}

h2 {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 5vw;
}

a {
  overflow: hidden;
  position: relative;
  display: block;
  cursor: pointer;
  color: var(--accent);
  text-decoration: none;
  font-size: 4vw;
  text-transform: lowercase;
}

/* Hover animation underline*/
a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.05em;
  background-color: var(--accent);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  bottom: 0;
  left: 0;
}

a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a:hover::after,
a:focus::after{
  transform: translate3d(0, 0, 0);
}



/**********/
/* HEADER */
/**********/
header {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  background-image: url("../images/rei2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.01em var(--accent) solid;
  background-color: var(--main);
  border-top: 2em var(--accent) solid;
  padding: 1em 0em;
  margin: 0em 2em;
  z-index: 1;
  position: relative;
}

header section::after {
  content: "×";
  color: var(--main);
  border: 0.01em var(--main) solid;
  top: -1.8em;
  right: 0.5vw;
  font-size: 1em;
  padding: 0.2em 0.5em;
  cursor: pointer;
  position: absolute;
}

header section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  margin-top: 1em;
}

header section ul li {
  list-style: none;
}



/********/
/* MAIN */
/********/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main article {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  border: 0.01em var(--accent) solid;
  background-color: var(--main);
  border-top: 2em var(--accent) solid;
  margin: 0em 1em;
  height: 40vh;
  padding: 1em;
  position: absolute;
  top: 15%;
  opacity: 0;
  pointer-events: none; 
  z-index: 2;
}

.show {
  opacity: 1;
  pointer-events: all;
}

main article::after {
  content: "×";
  color: var(--main);
  border: 0.01em var(--main) solid;
  position: absolute;
  font-size: 1em;
  top: -1.8em;
  right: 0.2em;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

p {
  overflow-y: auto;
  padding-right: 1em;
}



/******************/
/* RESPONSIVENESS */
/******************/
/* Middel schermen */
@media (min-width: 33em) {
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  a {
    font-size: 1.2em;
  }

  header section::after, main article::after {
    right: 0.1em;
    font-size: 1.1em;
    padding: 0.18em 0.5em;
    top: -1.7em;
  }

  main article {
    height: 35vh;
  }
}

@media (min-width: 41em) {
  header section {
    padding: 1em 1.2em;
  }

  main article {
    height: 18em;
  }
}

/* Groot scherm */
@media (min-width: 56em) {
  header {
    background-size: contain;
  }

  header section {
    transform: translateY(2em);
  }
}
